{
  "ecmaFeatures": {
    "arrowFunctions": true,
    "binaryLiterals": false,
    "blockBindings": true,
    "classes": true,
    "defaultParams": true,
    "destructuring": true,
    "forOf": true,
    "generators": true,
    "modules": false,
    "objectLiteralComputedProperties": true,
    "objectLiteralDuplicateProperties": false,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "octalLiterals": false,
    "regexUFlag": false,
    "regexYFlag": false,
    "restParams": true,
    "spread": true,
    "superInFunctions": true,
    "templateStrings": true,
    "unicodePointEscapes": true,
    "globalReturn": false,
    "allowForLoopAfterthoughts": true
  },
  "env": {
    "node": true
  },
  "extends": [
    "airbnb-base"
  ],
  "rules": {
    "comma-dangle": [2, "never"],
    "space-before-function-paren": ["error", "never"],
    "indent": [2, 4],
    "no-console": 1
  }

}
